WARMUP SECTION:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [7]:
def lesser_of_two_evens(a,b):
    if (a%2==0) and (b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [8]:
lesser_of_two_evens(2,4)

2

In [9]:
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS:

Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [5]:
def animal_crackers(ch):
    mylist=ch.split()
    if mylist[0][0]==mylist[1][0]:
        print('True')
    else:
        print('False')

In [6]:
animal_crackers('testing tolorence')

True

In [7]:
animal_crackers('testing again')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [17]:
def makes_twenty(a,b):
    d=a+b
    if ((d==20) or (a==20) or (b==20)):
        print('True')
    else:
        print('False')

In [18]:
makes_twenty(20,10)

True

In [19]:
makes_twenty(12,8)

True

In [20]:
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [56]:
def old_macdonald(ch):
    ch1=ch.capitalize()
    ch1=ch1[:3]+ch[3].capitalize()+ch1[4:]
  
    
    
    print(ch1)

In [57]:
old_macdonald('macdonald')

MacDonald

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [17]:
def master_yoda(text):
    mylist=text.split()
    mylist.reverse()
    ch=" ".join(mylist)
    print(" ".join(mylist))
    print(ch)

In [20]:
master_yoda("us love Sleeping")

Sleeping love us
Sleeping love us

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [56]:
def almost_there(n):
    if ((n <= 110) and ( n >=90)) or ((n <= 210) and ( n >=190)):
        print('True')
    else:
        print('false')

In [57]:
almost_there(90)

True

In [58]:
almost_there(104)

True

In [59]:
almost_there(150)

false

In [60]:
almost_there(209)

True

LEVEL 2 PROBLEMS

FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [124]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [125]:
has_33([1,3,3])

True

In [126]:
has_33([1, 3, 1, 3])

False

In [127]:
has_33([3,1,3])

False


PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [157]:
def paper_doll(text):
    ch=''
    for i in text:
        ch=ch+i*3
    return(ch)

In [158]:
paper_doll('Hello')

'HHHeeellllllooo'

In [159]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [208]:
def blackjack(a,b,c):
    bj=a+b+c
    if ((bj>21) and (a==11 or b==11 or c==11)):
        bj-=10
        print(bj)
    elif bj<21:
        print(bj)
    else:
        print('BUST')

In [215]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [216]:
# Check
blackjack(5,6,7)

18

In [217]:
# Check
blackjack(9,9,9)

'BUST'

In [218]:
# Check
blackjack(9,9,11)

19

In [219]:
# Check
blackjack(9,11,11)

21

In [222]:
# Check
blackjack(11,11,11)

'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [79]:
def summer_69(arr):
    pass

In [80]:
# Check
summer_69([1, 3, 5])

In [81]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [82]:
# Check
summer_69([2, 1, 6, 9, 11])

CHALLENGING PROBLEMS

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 
 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [83]:
def spy_game(nums):
    pass

In [84]:
# Check
spy_game([1,2,4,0,0,7,5])

In [85]:
# Check
spy_game([1,0,2,4,0,5,7])

In [86]:
# Check
spy_game([1,7,2,0,4,5,0])

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [87]:
def count_primes(num):
    pass

In [88]:
# Check
count_primes(100)

Just for fun:

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')


out:  
*  

* *

*****

*   *

*   *


HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [89]:
def print_big(letter):
    pass

In [90]:
print_big('a')

Great Job!